.progress { 
  height: 2.5em;
  line-height: 3em;
 }

.progress-bar { 
  -webkit-transition: width 1s ease-out; /* Safari */
  transition: width 1s ease-out; 
  line-height: 25px;
  font-size: 20px;
}

.progress-bar-danger{
	-webkit-transition: width 1s ease-in; /* Safari */
	transition: width 1s ease-in;	
}	